body {
    /*background-image: url(../img/frame.jpg);*/
    /*background-size: cover;*/
    background-size: 500px;
    background-attachment: fixed;
}

.listings ul.properties_list li {
    width: 28%;
    background-color: orange;
    color: white;
    border: 8px solid black;
    border-radius: 9px;
}

.listings ul.properties_list li h1 a {
    color: white;
}

section.caption {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.5);
}

.con {
    position: fixed;
    top: 30px;
    right: 5px;
}

.calendar
{
	margin-left: 220px;
	margin-top: 30px;
}

.hero .caption h2 {
    font-family: Georgia;
    font-size: 50px;
    text-decoration: none;
}


footer{
    background: rgba(28, 54, 85, .2);
    padding: 3px;
}

h2 {
    text-align: center;
    text-decoration: underline;
    color: black;
}
h3 {
    text-align: center;
    text-decoration: underline;
    color: black;
    font-size: 15px;
}

h4 {
    text-align: center;
    text-decoration: blink;
    color: black;
    font-size: 15px;
}

p {
    text-align: center;
}

.col-lg-4 {
    text-align: center;
}


.caption h3.properties {
    font-size: 1.4em;
    text-decoration: none;
    line-height: 1.4em;
    margin: 10px auto;
    font-style: italic;
    width: 800px;
    font-family: georgia;    
}
